*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

ul, ol{
    padding: 0 16px;
}


body{
    background-color:hsl(30, 54%, 90%);
    height: 100vh;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

img{
    max-width:100%;
}

.box{
    width: 500px;
    padding: 25px;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.preparation h3{
    color:  hsl(332, 51%, 32%);
}

.preparation{
    width: 100%;
    background-color:  hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 10px;
}

.preparation ul{

    margin-top: 15px;
    padding: 0 25px;
}

li {
    padding-left: 8px;
    margin-bottom: 10px;
}