*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

ul, ol{
    padding: 0 16px;
}

p{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 100;
    color: hsl(30, 10%, 34%);
}

body{
    background-color:hsl(30, 54%, 90%);
    height: 100vh;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

img{
    max-width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box{
    width: 550px;
    padding: 25px;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.preparation h3{
    color:  hsl(332, 51%, 32%);
}

.ingredients h3, .instructions h3, .nutrition h3{
    margin-top: 20px;
    color: hsl(14, 45%, 36%);
}

.preparation{
    width: 100%;
    background-color:  hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
}

ul, ol{

    margin-top: 15px;
    padding: 0 25px;
    color:hsl(30, 10%, 34%);
}

li {
    padding-left: 8px;
    margin-bottom: 10px;
}